/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Microsoft YaHei UI";
  color: #000;
  background-color: #fff;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.7;
  box-sizing: border-box;
}

.header {
  height: 480px;
  width: 100%;
  background-image: url(images/desktop-3168223_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 1.5px solid #000;
}

.header-items {
  margin: 0 auto;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 30%;
}

.header-items h1 {
  font-size: 80px;
  width: 95%;
  color: #fff;
  font-weight: bolder;
  border-bottom: 3px solid #fff;
  margin: 0 auto;
  text-align: center;
}

.header-nav {
  margin-top: 50px;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
}

.header-nav a {
  color: #fff;
  font-size: 25px;
  font-weight: bolder;
  border-bottom: 2px solid #fff;
}

.header-nav a:hover {
  color: #81dced;
  transition: 0.5s;
}

.profile {
  height: 700px;
  width: 100%;
  border-bottom: 1.5px solid #000;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.profile h2 {
  width: 15%;
  font-size: 50px;
  color: #000;
  border-bottom: 2px solid #000;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  line-height: 50px;
}

.profile-items {
  padding-top: 40px;
  display: flex;
  width: 100%;
  height: 550px;
}

.profile-items img {
  width: 33%;
  height: 90%;
  margin-left: 170px;
}

.profile-item {
  width: 45%;
  margin-left: auto;
  margin-right: 0px;
}

.name p {
  font-weight: regular;
  font-size: 22px;
  padding-bottom: 5px;
}

.detail {
  padding-top: 50px;
}

.detail p {
  font-weight: regular;
  font-size: 18px;
  padding-bottom: 5px;
}

#coment {
  margin-left: 20px;
}

.skills {
  height: 700px;
  width: 100%;
  border-bottom: 1.5px solid #000;
}

.skills h2 {
  width: 12%;
  font-size: 50px;
  color: #000;
  border-bottom: 2px solid #000;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  line-height: 50px;
}

.skills-items {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.skills-item {
  width: 21%;
}

.icon {
  margin: 0 auto;
  width: 35%;
  border: 2px solid #000;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0px;
}

.icon-img {
  width: 30%;
  height: 50px;
  border: 2px solid #000;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
}

.icon-img img {
  display: block;
  width: 45%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.fab {
  font-size: 40px;
}

.skills-item h3 {
  font-size: 30px;
  text-align: center;
}

.skills-item p {
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  padding-top: 20px;
  border-bottom: 2px solid #81dced;
}

.skills-item ul {
  padding-top: 5px;
}

.skills-item ul li {
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
}

#javascript {
  font-size: 25px;
  padding-top: 10px;
}

.works {
  height: 550px;
  width: 100%;
  border-bottom: 1.5px solid #000;
}

.works h2 {
  width: 12%;
  font-size: 50px;
  color: #000;
  border-bottom: 2px solid #000;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  line-height: 50px;
}

.works-items {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.works-item {
  width: 30%;
}

.works-img {
  width: 100%;
  height: 230px;
  position: relative;
}

.works-img img {
  width: 95%;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.works-img img:hover {
  width: 100%;
  height: 230px;
  transition: 0.4s;
}

.works-item a {
  display: inline-block;
  color: #4699ca;
}

.works-item p {
  font-size: 16px;
}

span {
  font-weight: bold;
  font-size: 17px;
}
